/* font-family: 'Poppins', sans-serif;
200, 400, 600 */

body{
    font-size: 0.9375rem;
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    
}
h1{
    margin: 0;
    font-size: 1.6em;
    color: hsl(234, 12%, 34%);
}
h2{
    margin-bottom: 0;
    font-weight: 200;
    font-size: 1.62em;
    color: hsl(234, 12%, 34%);
}
h3{
    color: hsl(234, 12%, 34%);
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em 2em;
    text-align: center;
}
.card{
    background-color: hsl(0, 0%, 100%);
    margin: 2em 0;
    max-width: 100%;
    border-radius: 5px;
    padding: 1.5em;
    box-shadow: 0 10px 20px -6px hsl(180, 62%, 55%);
    border-top: solid;
}
.card-content{
    color: hsl(229, 6%, 66%);
    font-size: 0.91em;
    margin-top: 0.5em;
    margin-bottom: 2.5em;
}
.text-block{
    display: flex;
    flex-direction: column;
    text-align: start;
}
.img-container{
    display: flex;
    justify-content: end;
}
.supervisor{
    border-top-color: hsl(180, 62%, 55%);
}
.builder{
    border-top-color: hsl(0, 78%, 62%);
}
.karma{
    border-top-color: hsl(34, 97%, 64%);

}
.calculator{
    border-top-color: hsl(212, 86%, 64%);

}
#header-description{
    color: hsl(229, 6%, 66%);
    margin-bottom: 2em;
}

@media screen and (min-width: 1440px){
    body{
        
    }
    header{
        max-width: 38%;
    }
    main{
        display: grid;
        width: 100%;
        grid-template-areas:
        'supervisor builder calculator'
        'supervisor karma calculator';
        grid-template-columns: 1fr 0.8fr 1fr;
        justify-items: center;
        align-items: center;
    }
    .supervisor{
        grid-area: supervisor;
        justify-self: end;
    }
    .builder{
        grid-area: builder;
       
    }
    .calculator{
        grid-area: calculator;
        justify-self: start;
    }
    .karma{
        grid-area: karma;
        margin-top: 0;
    }
    h1{
        font-size: 2.4em;
    }
    h2{
        font-size: 2.4em;
    }
    .container{
        width: 100%;
    }
    .card{
        max-width: 20em;
        min-height: 12em;
    }
}
